{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
      <h1>Welcome to the Development World!!</h1>
      <p>We are an innovative web and mobile application development company dedicated to craft intelligent software. </p>
    </div>

    <div class="container">
      <div class="row" >
          {% if request.user.is_superuser %}
            <p>some description for admin</p>
          {% else %}
          <h4 class="text-warning"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</strong></h4>
          {% endif %}
      </div>
    </div>

{% endblock %}